Repository djhedges/exit_speed: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytype

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --ignore-patterns=.*pb2.*

pytype:
  name: pytype
  entry: pytype
  language: python
  args:
  - --config=./.pytype.cfg

Revert "Set Python version to 3.7 instead of 3.7.3 to see if that fixes a Travis issue."
  .travis.yml
Due: none

Test if moving from buster > bionic fixes the missing python 3.7.3 issue.
  .travis.yml
Due: none

Bump pillow from 9.0.1 > 9.3.0
  requirements.txt
Due: none

Documentation pass updating outdated items and a few spelling issues.
  README.md
Due: none

2025 attempt at setting up a new pi4.
  etc/corrado.yaml
  exit_speed/leds.py
  exit_speed/tracks/test_track.py
  requirements.txt
Due: pylint, pytype

Add a run_test.sh to execute all unit tests.
  run_tests.sh
Due: none

Persist python logs instead of writing to /tmp.
  exit_speed/main.py
Due: pylint, pytype

Add additional logging statements at startup.
  exit_speed/main.py
Due: pylint, pytype

Fix a bug where we would sometimes return None instead of a GPS report.
  exit_speed/gps_sensor.py
  exit_speed/main.py
Due: pylint, pytype

Try going back to a simple systemd config.
  etc/exit_speed.service
  exit_speed/tracks/test_track.py
  run_tests.sh
Due: pylint, pytype

Set initial led color to magenta and update the test script.
  exit_speed/leds.py
  exit_speed/tracks/test_track.py
Due: pylint, pytype

Add a test loop.
  exit_speed/tracks/__init__.py
  exit_speed/tracks/test_loop.py
Due: pylint, pytype

Update copy right notices per IARC Determination on 2025-05-28.
  exit_speed/accelerometer.py
  exit_speed/accelerometer_test.py
  exit_speed/cleanup_postgres.py
  exit_speed/common_lib.py
  exit_speed/common_lib_test.py
  exit_speed/config_lib.py
  exit_speed/convert_data_to_exit_speed_proto.py
  exit_speed/dashboard/__init__.py
  exit_speed/dashboard/main.py
Due: pylint, pytype

Update copy right notices per IARC Determination on 2025-05-28.
  exit_speed/__init__.py
  exit_speed/data_logger.py
  exit_speed/data_logger_test.py
  exit_speed/exit_speed.proto
  exit_speed/gps_sensor.py
  exit_speed/gps_sensor_test.py
  exit_speed/gyroscope.py
  exit_speed/gyroscope_test.py
  exit_speed/import_data.py
  exit_speed/import_data_test.py
  exit_speed/labjack.py
  exit_speed/labjack_test.py
  exit_speed/lap_lib.py
  exit_speed/lap_lib_test.py
  exit_speed/leds.py
  exit_speed/leds_test.py
  exit_speed/main.py
  exit_speed/main_test.py
  exit_speed/postgres.py
  exit_speed/postgres_test.py
  exit_speed/postgres_test_lib.py
  exit_speed/sensor.py
  exit_speed/sensor_test.py
  exit_speed/sync_local_data.py
  exit_speed/tire_temperature.py
  exit_speed/tire_temperature_test.py
  exit_speed/tracks_test.py
  exit_speed/wbo2.py
  exit_speed/wbo2_test.py
Due: pylint, pytype

Update copy right notices per IARC Determination on 2025-05-28.
  setup.cfg
Due: none

Rm mention of not being a supported Google product which is kinda self explanatory.
  README.md
Due: none

Use the gps time instead of system time for the session.
  exit_speed/main.py
  exit_speed/tracks/test_loop.py
Due: pylint, pytype

GPS reports always have a time so this should never be true.
  exit_speed/sensor.py
Due: pylint, pytype

Upgrade to dash 2.17.0.
  exit_speed/dashboard/main.py
  requirements.txt
Due: pylint, pytype

Finally bump Pillow & Werkzeug versions.
  requirements.txt
Due: none

pip3 freeze -r requirements.txt after finding a version of Dash/Flask that works with the newer Werkzeug.
  exit_speed/dashboard/main.py
  requirements.txt
Due: pylint, pytype

Bump PyYAML.
  requirements.txt
Due: none

Initial start of adding the waveshare can usb drive.
  exit_speed/wazeshare_lib.py
  requirements.txt
Due: pylint, pytype

Simple script to read the canbus data for now.
  etc/corrado.yaml
  exit_speed/waveshare_lib.py
  exit_speed/wazeshare_lib.py
Due: pylint, pytype

Print the EGT values.
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Add proto fields for Link Generic Dash stream.
  exit_speed/can.py
  exit_speed/exit_speed.proto
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Recompiled proto message.
  exit_speed/exit_speed.proto
  exit_speed/exit_speed_pb2.py
Due: pylint, pytype

Start logging ECU can data to disk.
  exit_speed/can.py
  exit_speed/can_sensor.py
  exit_speed/ecu.py
  exit_speed/exit_speed.proto
  exit_speed/exit_speed_pb2.py
  exit_speed/main.py
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Add missing typing.
  exit_speed/can_sensor.py
  exit_speed/ecu.py
  exit_speed/main.py
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Add a uniitest for waveshare_lib.
  exit_speed/ecu.py
  exit_speed/waveshare_lib_test.py
Due: pylint, pytype

Add a test for the new ECU code.
  exit_speed/ecu_test.py
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/waveshare_lib.py
  run_tests.sh
Due: pylint, pytype

Add postgres unit tests for the ECU data.
  exit_speed/ecu_test.py
  exit_speed/postgres_test.py
Due: pylint

Update Ecu temp values to fahrenheit.
  exit_speed/ecu.py
  exit_speed/ecu_test.py
  exit_speed/exit_speed.proto
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/postgres_test.py
Due: pylint, pytype

Update Ecu pressure values to psi.
  exit_speed/ecu.py
  exit_speed/ecu_test.py
  exit_speed/exit_speed.proto
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/postgres_test.py
Due: pylint, pytype

Remove fields that the Corrado does not use or I dont care about.
  exit_speed/ecu.py
  exit_speed/exit_speed.proto
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/postgres_test.py
Due: pylint, pytype

Start logging EGTs.
  exit_speed/ecu.py
  exit_speed/egts.py
  exit_speed/egts_test.py
  exit_speed/exit_speed.proto
  exit_speed/exit_speed_pb2.py
  exit_speed/main.py
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/postgres_test.py
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Start logging the Pdm data.
  exit_speed/exit_speed.proto
  exit_speed/exit_speed_pb2.py
  exit_speed/main.py
  exit_speed/pdm.py
  exit_speed/pdm_test.py
  exit_speed/postgres.py
  exit_speed/postgres_schema.sql
  exit_speed/postgres_test.py
  exit_speed/waveshare_lib.py
  run_tests.sh
Due: pylint, pytype

Fix buffer type.
  exit_speed/ecu.py
  exit_speed/pdm.py
  exit_speed/waveshare_lib.py
Due: pylint, pytype

Log Pdm proto on temp which is hopefully never zero F
  exit_speed/ecu.py
  exit_speed/pdm.py
Due: pylint, pytype

Update the tables in the dashboard
  exit_speed/dashboard/queries.py
Due: pylint, pytype

Path conditions:
  pylint: any of: .*.py$ and \.py$
  pytype: any of: .*.py$ and \.py$ and not (.*_test.py$)
